<div class="row">
    <!-- Loan Status Distribution -->
    <div class="col-xl-8 mb-4">
        <div class="card dashboard-card h-100">
            <div class="card-header bg-white border-0">
                <h5 class="mb-0">Loan Status Distribution</h5>
            </div>
            <div class="card-body">
                <canvas id="statusChart" height="250"></canvas>
            </div>
        </div>
    </div>
    
  <div class="col-xl-4 mb-4">
        <div class="card dashboard-card h-100">
            <div class="card-header bg-white border-0">
                <h5 class="mb-0">Product Mixs</h5>
            </div>
            <div class="card-body">
                <canvas id="productChart" height="250"></canvas>
            </div>
        </div>
    </div>
</div>

